# Virtual environments & cache
.venv/
uv.lock
__pycache__/
*.py[cod]

# Ignore massive raw datasets (since processed graphs & weights are pre-built)
data/cleaned_samples/
data/original_samples/*.csv

# OS files
.DS_Store
notes.txt